Repository rapidsai/pynvjitlink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/pynvjitlink-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
pynvjitlink/ @rapidsai/pynvjitlink-write

#cmake code owners
**/CMakeLists.txt @rapidsai/pynvjitlink-write
**/cmake/         @rapidsai/pynvjitlink-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners
/.shellcheckrc           @rapidsai/ci-codeowners

#packaging code owners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

"fix(docker): use versioned `-latest` tag for all `rapidsai` images"
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

Convert . in CUDA version to _ for rattler-build compat
  conda/recipes/pynvjitlink/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Update conda/recipes/pynvjitlink/recipe.yaml
  conda/recipes/pynvjitlink/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Convert . in CUDA version to _ for rattler-build compat (#151)
  conda/recipes/pynvjitlink/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Update rapids-build-backend to 0.4.1
  conda/recipes/pynvjitlink/recipe.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update rapids-build-backend to 0.4.1
  conda/recipes/pynvjitlink/recipe.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update rapids-build-backend to 0.4.1
  conda/recipes/pynvjitlink/recipe.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update rapids-build-backend to 0.4.1 (#154)
  conda/recipes/pynvjitlink/recipe.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

add note about the repo being archived
  README.md
Owners: none

Update README.md
  README.md
Owners: none

add note about the repo being archived (#155)
  README.md
Owners: none
